{% extends "base.html" %}

{% block content %}

<div class="container" style="margin-top: 100px; color: #00008B;">
<div class="container mt-5">
    <h1 class="text-center mb-4">Our Goal</h1>
</div>
</div>

<div class="container" style="margin-top: 120 px; color: #00008B;">
    <div class="text-center mb-4">
        <p>At Petrick's Pets, our goal is to create a loving home for every animal. We are committed to the well-being of both new and rescued pets, providing them with the care they need as they transition into their forever homes. Through our adoption center, we offer a second chance to animals in need, while our store provides high-quality pet products to ensure their happiness and health. We strive to foster a compassionate community where every pet is cherished, and every family finds the perfect companion.</p>
    </div>
</div>

<div class="row justify-content-center mb-4">
    <div class="col-md-4 text-center">
        <img src="{{ url_for('static', filename='assets/goal1.png') }}" alt="Image 1" class="img-fluid">
    </div>
    <div class="col-md-4 text-center">
        <img src="{{ url_for('static', filename='assets/goal2.png') }}" alt="Image 1" class="img-fluid">
    </div>
</div>

{% endblock %}