{% extends "base.html" %}

{% block content %}

    <div class="container" style="margin-top: 150px;">
        <div class="jumbotron text-center mt-5" style="background-color: #00008B; color: #FFFFFF;">
            <h1 class="display-4">Welcome to Petrick's Pets!</h1>
            <p class="lead">The most trusted organization for adopting new and rescued animals, and buying quality products for all fury companions.</p>
            <hr class="my-4" style="border-color: #FFFFFF;">
            <p>View our currently available animals here!</p>
            <a class="btn btn-primary btn-lg" href="{{ url_for('pets.pet') }}" role="button">Abopt Now</a>
        </div>
    </div>
{% endblock %}