{% extends "base.html" %}

{% block content %}

    <div class="container" style="margin-top: 150px;">
        <div class="jumbotron text-center mt-5" style="background-color: #4B3621; color: #FFFFFF;">
            <h1 class="display-4">Welcome to The NBP Library</h1>
            <p class="lead">Read the books you want, when you want, for the price you want, and at the convenience you need. </p>
            <hr class="my-4" style="border-color: #FFFFFF;">
            <p>View our available books here!</p>
            <a class="btn btn-primary btn-lg" href="{{ url_for('books.book') }}" role="button">Catalog</a>
        </div>
    </div>
{% endblock %}