{% extends "base.html" %}

{% block content %}

    <div class="container" style="margin-top: 150px;">
        <div class="jumbotron text-center mt-5" style="background-color: #000000; color: #FFFFFF;">
            <h1 class="display-4">Welcome to CINE-MATE!</h1>
            <p class="lead">Home of the world's largest cinema index.</p>
            <hr class="my-4" style="border-color: #FFFFFF;">
            <p>View our catalog here!</p>
            <a class="btn btn-primary btn-lg" href="{{ url_for('movies.movie') }}" role="button" style="background-color: #000000; border-color: #FFFFFF">Movies</a>
    </div>
{% endblock %}