{% extends "base.html" %}

{% block content %}

   <div class="container" style="margin-top: 150px;">
        <div class="jumbotron text-center mt-5" style="background-color: #4B3621; color: #FFFFFF;">
            <h1 class="display-4">Monthly Subscription: $9.99</h1>
            <h2 class="display-4">Yearly Subscription: $89.99</h2>
            <p class="lead">Get the books you want without the burden of having to buy them! Our subscription gives customers the ability to order the books they want without having to pay full price for them.</p>
            <p class="lead"> How it works: You simply receive your book in the mail, and when you finish reading it you can return it and order a new one!</p>
            <hr class="my-4" style="border-color: #FFFFFF;">
            <p>Contact us to get set up!</p>
            <a class="btn btn-primary btn-lg" href="/contact" role="button">Contact Us</a>
        </div>
   </div>

{% endblock %}